.wj-flexgrid {
    background-color: white;
    cursor: default;

    display: block;
}

.wj-content {
    border: none;
}

.btn-group {
    width: 700px;
    margin-left: 100px;
    margin-top: 10px;
    display: block;    
}