.wj-flexgrid {
    background-color: white;
    cursor: default;

    display: block;
}

.wj-content {
    border: none;
}

.btn-group {
    width: 700px;
    margin: 0px auto;
    display: block;    
}